<div class="card mb-5 mt-5 pd-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comment (15,266)</h4>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">Last Update - Sep 20, 2022</small>

      <div class="mt-3 mb-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam
        deserunt ea qui hic nemo ducimus dignissimos quaerat, veritatis libero
        aspernatur, eligendi quasi eaque similique enim in nisi, nesciunt
        dolorem molestiae.
      </div>
      <a href="#" class="mt-1">Replay</a>
      <a href="#" class="mt-1 ml-3">View Replay</a>

      <hr>

    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">Last Update - Sep 20, 2022</small>

      <div class="mt-3 mb-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam
        deserunt ea qui hic nemo ducimus dignissimos quaerat, veritatis libero
        aspernatur, eligendi quasi eaque similique enim in nisi, nesciunt
        dolorem molestiae.
      </div>
      <a href="#" class="mt-1">Replay</a>
      <a href="#" class="mt-1 ml-3">View Replay</a>

      <hr>

    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">Last Update - Sep 20, 2022</small>

      <div class="mt-3 mb-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam
        deserunt ea qui hic nemo ducimus dignissimos quaerat, veritatis libero
        aspernatur, eligendi quasi eaque similique enim in nisi, nesciunt
        dolorem molestiae.
      </div>
      <a href="#" class="mt-1">Replay</a>
      <a href="#" class="mt-1 ml-3">View Replay</a>

      <hr>

    </div>
  </div>
</div>
